# Игнорировать виртуальное окружение
venv/
.env

# Игнорировать кэш Python
__pycache__/
*.py[cod]

# Игнорировать системные файлы
*.DS_Store
*.log

# Игнорировать папку с тестами (если тесты не нужны в Docker Image)
tests/
test*.py

# Игнорировать файлы конфигурации IDE
.idea/
.vscode/

# Игнорировать другие временные файлы
*.swp
